{
  "Version": "2019-10-30",
  "StartAction": "ask",
  "Settings": {},
  "Metadata": {
    "EntryPointPosition": {
      "x": 0,
      "y": 20
    },
    "ActionMetadata": {
      "ask": {
        "Position": {
          "x": 20,
          "y": 20
        }
      },
      "done": {
        "Position": {
          "x": 280,
          "y": 20
        }
      }
    }
  },
  "Actions": [
    {
      "Identifier": "ask",
      "Type": "GetParticipantInput",
      "Parameters": {
        "InputTimeLimitSeconds": "5",
        "StoreInput": "True",
        "Text": "Press 1 if we solved your problem, or 2 if we did not."
      },
      "Transitions": {
        "NextAction": "done",
        "Errors": [
          {
            "ErrorType": "NoMatchingCondition",
            "NextAction": "done"
          },
          {
            "ErrorType": "NoMatchingError",
            "NextAction": "done"
          }
        ],
        "Conditions": []
      }
    },
    {
      "Identifier": "done",
      "Type": "EndFlowModuleExecution",
      "Parameters": {},
      "Transitions": {}
    }
  ]
}
